*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #52a7c1;
    background-image: linear-gradient(315deg, #52a7c1 0%, #b3f6d8 74%);


}

.wrapper {
    background-color: #fff;
    width: 450px;
    padding: 50px 0;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
}

h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.container {
    width: 300px;
    position: relative;
    margin: auto;
}

input,
p, h1{
    font-family: "Roboto Mono", monospace;
}

input {
    width: 100%;
    height: 50px;
    padding: 0 40px 0 20px;
    position: relative;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 5px 5px 0 0;
}

#toggle {
    position: absolute;
    top: 17px;
    right: 15px;
    color: #808080;
    cursor: pointer;
}

#strength-bar {
    background-color: #dcdcdc;
    height: 10px;
    position: relative;
    border-radius: 0 0 5px 5px;
}

p {
    width: 100%;
    text-align: center;
    margin-top: 20px;;
}

.strength{
    width: 25%;
    display: inline-block;
    position: relative;
    height: 100%;
    background-color: black;
    bottom: 5px;
}

@media (max-width: 670px) {
    .wrapper {
        width: 340px;
    }
}